@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first <strong>personal</strong> website.</p>

    <img src="/Users/fengcu/Desktop/Tracy-Website/image/IMG_9943.HEIC" alt="test" />

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
